a {
    cursor: pointer;
}
a[class^="icon_"] { /* erste fuenf Buchstaben sind "icon_" */
    display: inline-block;
    padding-left: 19px;
    min-width: 0px; /* respecting the padding */
    min-height: 16px;
    background-repeat: no-repeat;
    background-position: left 0px;
    vertical-align: text-bottom;
    color: #24437c;
}
a[class^="icon_"]:hover {
    color: #ff3333;
}
a.icon_left { }
a.icon_right {
    padding-right: 20px;
    background-position: right 0px;
}
a.icon_arr_1left { background-image: url(../../../../../assets/images/icons/16/blue/arr_1left.png); }
a.icon_arr_1left:hover { background-image: url(../../../../../assets/images/icons/16/red/arr_1left.png); }
a.icon_arr_1up { background-image: url(../../../../../assets/images/icons/16/blue/arr_1up.png); }
a.icon_arr_1up:hover { background-image: url(../../../../../assets/images/icons/16/red/arr_1up.png); }
a.icon_arr_1right { background-image: url(../../../../../assets/images/icons/16/blue/arr_1right.png); }
a.icon_arr_1right:hover { background-image: url(../../../../../assets/images/icons/16/red/arr_1right.png); }
a.icon_plus { background-image: url(../../../../../assets/images/icons/16/blue/plus.png); }
a.icon_plus:hover { background-image: url(../../../../../assets/images/icons/16/red/plus.png); }
a.icon_trash { background-image: url(../../../../../assets/images/icons/16/blue/trash.png); }
a.icon_trash:hover { background-image: url(../../../../../assets/images/icons/16/red/trash.png); }
a.icon_link-intern { background-image: url(../../../../../assets/images/icons/16/blue/link-intern.png); }
a.icon_link-intern:hover { background-image: url(../../../../../assets/images/icons/16/red/link-intern.png); }
a.icon_folder-empty { background-image: url(../../../../../assets/images/icons/16/blue/folder-empty.png); }
a.icon_folder-empty:hover { background-image: url(../../../../../assets/images/icons/16/red/folder-empty.png); }
a.icon_edit { background-image: url(../../../../../assets/images/icons/16/blue/edit.png); }
a.icon_edit:hover { background-image: url(../../../../../assets/images/icons/16/red/edit.png); }
a.icon_doctoral_cap { background-image: url(../../../../../assets/images/icons/16/blue/doctoral_cap.png); }
a.icon_doctoral_cap:hover { background-image: url(../../../../../assets/images/icons/16/red/doctoral_cap.png); }


#layout_container {
	background-color: white;
	padding: 0 0 1em 0;
}

table.zsb_editable {
    border: thin solid #dddddd;
    border-collapse: collapse;
    margin: 5px;
    margin-left: auto;
    margin-right: auto;
}

table.zsb_editable > tbody > tr {
    cursor: pointer;
}
table.zsb_editable > tbody > tr > td {
    margin: 0px;
    padding: 3px;
    border-top: thin dotted #dddddd;
    border-bottom: thin dotted #dddddd;
    word-wrap: break-word;
}
table.zsb_editable > thead > tr > th {
    margin: 0px;
    padding: 3px;
    border-bottom: thin solid #dddddd;
}
table.zsb_editable > tbody > tr > td {
    border-left: thin dotted #dddddd;
    border-right: thin dotted #dddddd;
    max-width: 250px;
    word-break: break-all;
}
table.zsb_editable > tbody > tr > td:first-of-type {
    border-left: 0px;
}
table.zsb_editable > tbody > tr > td:last-of-type {
    border-right: 0px;
}
table.zsb_editable > tbody > tr:first-of-type > td {
    border-top: 0px;
}
table.zsb_editable > tbody > tr:last-of-type > td {
    border-bottom: thin solid #dddddd; 
}

table.zsb_editable > tbody > tr:hover > td {
    background: #ffffff url('../../../../../assets/images/background_stripes.jpg') repeat-x;
}

table.zsb_editable > thead > tr > th {
    padding-left: 20px;
    padding-right: 20px;
}
table.zsb_editable > thead > tr > th.headerSortUp {
    background: url('../../../../../assets/images/icons/16/yellow/arr_1up.png') no-repeat right 3px,
                url('../../../../../assets/images/steelgraudunkel.gif');
}
table.zsb_editable > thead > tr > th.headerSortDown {
    background: url('../../../../../assets/images/icons/16/yellow/arr_1down.png') no-repeat right 3px,
                url('../../../../../assets/images/steelgraudunkel.gif');
}



h1, h2, h3 {
    color: #4e4e5e;
}

input[disabled] {
    opacity: 0.4;
}


table.zsb_timetable {
    border: thin solid #dddddd;
    border-collapse: separate;
    border-spacing: 3px;
    margin: 5px;
    width: 99%;
    margin-left: auto;
    margin-right: auto;
}
table.zsb_timetable > thead > tr > td {
    background-color: #dddddd;
}
table.zsb_timetable > tbody > tr > td.leftside {
    background-color: #dddddd;
}

table.zsb_timetable > tbody > tr > td.hover {
    /*background-color: rgba(255, 255, 0, 0.5);*/
    background: #ffffff url('../../../../../assets/images/background_stripes.jpg') repeat-x;
}
table.zsb_timetable > tbody > tr.white > td {
    height: 10px;
    background-color: #e7e7e7;
}

table.zsb_timetable input.date {
    width: 96%;
    text-align: left;
    border: 2px solid #dddddd;
    border-top-color: #777777;
    border-left-color: #777777;
    
}
table.zsb_timetable input.copypaste {
    width: 47%;
    color: #bbbbbb;
    font-size: 0.7em;
    background-color: #ffffff;
    border: thin solid #bbbbbb;
}
table.zsb_timetable input.checkbutton {
    width: 0.7em;
    color: #bbbbbb;
    font-size: 0.7em;
    background-color: #ffffff;
    border: thin solid #bbbbbb;
}
table.zsb_timetable input.checkbutton.checked {
    color: #eeeeee;
    background-color: #ee0000;
    border: thin solid #bb0000;
}
table.zsb_timetable input.smalltext {
    width: 90%;
    color: #bbbbbb;
    font-size: 0.7em;
    background-color: #ffffff;
    border: thin solid #bbbbbb;
}
div.beschraenkungsbox {
    min-width: 40px;
}
div.beschraenkungsbox > div > div {
    float: left;
    width: 18px;
    text-align: center;
    margin: 1px;
    background-color: #dddddd;
}
.editable div.beschraenkungsbox > div > div {
    cursor: pointer;
}
div.beschraenkungsbox > div > div.selected {
    background-color: #aa0000;
    color: white;
}

td.rotate-cell {
    text-align: center;
    /*rotation: -90deg;
    transform: rotate(-90deg); 
    -webkit-transform: rotate(-90deg); 
    -o-transform: rotate(-90deg); 
    -moz-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);*/
}


.ui-accordion-header {
    padding-left: 27px;
}


ul.zsb_detail_list {
    
}
.accordion ul textarea {
    display: block;
    width: 80%;
    height: 100px;
}
.accordion ul > li > input[type=text] {
    display: block;
    width: 80%;
}

.accordion ul li {
    margin: 3px;
    /*list-style-type: disc;*/
}


.accordion .editor_toolbar {
    font-size: 0.7em;
}

ul.sortable {
    padding: 10px;
    margin: 0px;
}

ul.sortable li {
    display: block;
    padding: 5px;
}


.studip_button {
    display: inline-block;
    background: url('../images/button/button_leftpart.png') left center no-repeat,
                url('../images/button/button_rightpart.png') right center no-repeat,
                url('../images/button/button_centerpart.png') center center repeat-x;
    height: 18px;
    max-height: 18px;
    padding-top: 3px;
    width: 93px;
    min-width: 93px;
    overflow: hidden;
    font-size: 0.85em;
    color: #141414;
    text-align: center;
    display: inline-block;
    border: solid 1px white;
    border-top-color:#cdd;
    border-left-color:#ccf;
    border-right-color:#bbF;
    border-bottom-color:#99b;
    vertical-align: middle;
    cursor: pointer;
}
.studip_button:hover {
    border: solid 1px red;
    border-top-color:#f33;
    border-left-color:#f00;
    border-right-color:#f55;
    border-bottom-color:#f55;
}

.description {
    font-style: italic;
    margin: 3px;
}





/* Angaben vom Verlaufsplan - blame on Till for problems */

span.e_heading {
    font-size: 1.6em;
    font-weight: bold;
    border-bottom: 1px solid black;
    display: block;
    margin-bottom: 10px;
}

span.e_label {
    float: left;
    width: 10em;
    clear: left;
}

span.e_content {
    float: left;
}

#studyplan {
    border-collapse: collapse
}

.modul {
    display: inline;
    font-weight: bold;
}

.modulmoved {
    cursor: default;
    display: inline;
    font-style: italic;
}

#dragzone_container  {
    float: right;
}

.dragzone {
    display: block;
    max-height: 500px;
    min-width: 300px;
    /*overflow: scroll;*/
}
.dragzone ul {
    list-style: none;
    padding-left: 10px;
}
.dragzone li {
    list-style-type: none !important; /* wegen des späten Aufbaus des Akkordions */
}

#dropzone  {
    float: left;
}

#dropzone a.modul.fixed div.icons {
    display: none !important; /* leider braucht man das important */
}

#up_down {
    padding-left: 15px;
}

#left_right  {
    float: right;
    text-align: right;
}

.arrow:hover {
    opacity: 0.5;
}

.ui-state-highlight{
    cursor: pointer;
}

td.sem_label {
    padding: 0 10px;
    width: 20px;
    text-align: center;
    font-weight: bold;
    background-color: #2A2A98;
    color: white;
    border-bottom: 2px solid #FFFFFF;
}

td.kp {
    width: 55px;
    background-color: #8A8AE8;
    border-bottom: 2px solid #FFFFFF;
    padding-left: 5px;
}

/* Droppables */
.lefty, .middy {
    width: 180px;
    height: 100px;
    background-color: #5A5AB8;
    border-bottom: 2px solid #FFFFFF;
    padding: 1px;
}

.righty {
    width: 10px;
    min-width: 8px;
    height: 100px;
    background-color: #6A6AC8;
    border-right: 2px solid #FFFFFF;
    border-bottom: 2px solid #FFFFFF;
}

.placedmodule {
    display: block;
    margin-bottom: 4px;
    color: white !important;
    padding: 2px;
    font-size: 0.8em;
    /* height: 90%; */
    position: relative;
    border: 2px solid rgba(255, 255, 255, 0.4);
}

.placedmodule:hover {
    border: 2px solid white;
    color: white;
}

.drop_allowed {
   opacity: 0.6;
}

.twocolumn {
    width: 90px ! important;
}

.droppable {
    vertical-align: top;
}

span.color {
    color: white;
    padding: 2px;
    font-weight: bold;
}

#color_legend {
    clear: both;
    margin-left: 55px;
}

div.icons {
    display: none;
    text-align: right;
}

img.icon:hover {
    opacity: 0.8;
    cursor: pointer;
}

#edit_module {
    display: none;
}

#edit_module textarea {
    width: 20em;
    height: 5em;
}

#save_verlaufsplan {
    clear: both;
    text-align: right;
    margin-top: 20px;
    margin-bottom: 10px;
}

#verlaufsplan_saved {
    color: green;
    font-weight: bold;
    margin-right: 10px;
}
